@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h2 {
    @apply my-3 text-xl;
  }
  h3 {
    @apply my-2 text-lg;
  }
}

@layer utilities {
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}
