@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-body text-base;
  }

  section {
    @apply mb-5;
  }
}

@layer components {
  h1 {
    @apply my-5 font-heading uppercase;
  }
  h2 {
    @apply my-5 font-heading uppercase;
  }
  h3 {
    @apply my-5 font-heading uppercase;
  }
  .big-title {
    @apply text-4xl sm:text-7xl md:text-9xl font-extrabold leading-none;
  }
  .active-nav-link{
    /*@apply font-extrabold underline;*/
    @apply border-b-2 border-black;
  }
  .nav-link{
    @apply border-b-2 border-white;
  }
}

@layer utilities {
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}
